.bagBody {
    text-align: center;
    margin: 4rem auto;
    display: block;
}

.bagMainTitle {
    font-size: 2rem;
    color: var(--dark);
    margin: 2rem 0 0 0;
    font-weight: 600;
}

.bagMainTitle span {
    color: var(--text-secondary) !important;
    font-weight: 300 !important;
    font-size: 1.2rem !important;
}

.bagSubTitle {
    font-size: 1.2rem;
    max-width: 23rem;
    margin: 0.4rem auto 2rem auto;
    color: var(--text-secondary);
}

.secondaryIcon {
    height: 10rem;
}

.bagRow {
    display: grid;
    grid-template-columns: 1fr 24rem;
    grid-gap: 2rem;
    align-items: stretch;
    margin: 4rem 0;
}


.bagItemGrid {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 1.5rem;
    justify-content: flex-start;
    border: 1px solid var(--border-light);
    border-radius: .2rem;
    height: 15rem;
    margin-bottom: 1.6rem;
}

.productImage {
    padding: 1rem;
}

.productImage img {
    height: 100%;
    width: 100%;
}

.buttonRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #eee;
}

.button-extra {
    background: transparent;
    border: none;
    text-align: center;
    background-color: #f7f8f8;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    margin: 0 1rem 0 0;
}

.product-quantity {
    font-size: 1.6rem;
    color: var(--text-secondary);
    font-weight: 400;
    margin-right: 1rem;
}

.bagPrice {
    border-left: 1px solid var(--border-light);
    padding: 0 1rem;
}

.bagSummaryTitle {
    text-align: center;
    font-weight: 600;
    color: var(--dark);
    margin-bottom: 2rem;
}

.bagSummaryWrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    align-items: center;
}

.bagText {
    font-size: 1.1rem;
    color: var(--text-secondary);
    font-weight: 300;
    padding-bottom: 1rem;
}

.itemPrice {
    color: #363636;
    font-weight: 500;
}

.taxPrice {
    color: var(--text-secondary);
    font-weight: 500;
}

.totalAmount {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
}