.pageLayout {
    display: flex;
    justify-content: space-between;
}

.mainSection {
    padding: 0 0 0 2rem;
    width: 100%;
}

.mainTopSection {
    border-bottom: 1px solid var(--border-light);
}

.sectionTopTitle {
    padding-bottom: 1.3rem;
    color: var(--dark);
    font-weight: 600;
    font-size: 1.6rem;
}

.sectionTopTitle span {
    color: var(--text-secondary) !important;
    font-weight: 300 !important;
    font-size: 1.2rem !important;
}

.sortSelect {
    margin-bottom: 1rem;
    border: 1px solid var(--border-light);
    padding: .4rem 1.6rem .4rem .4rem;
    border-radius: .2rem;
    color: var(--text-secondary);
    width: 16rem;
}

.sortSelect:focus {
    outline: none;
    border: 1px solid var(--secondary);
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.6rem;
    margin: 1rem 0;
}

.card {
    position: relative;
    margin: 1rem 0;
    border-radius: 3px;
    border-radius: .2rem;
    border: 1px solid var(--border-light);
    cursor: pointer;
}

.overlayCard {
    cursor: not-allowed;
    filter: grayscale(1);
    opacity: 0.6;
}

.overlayText {
    width: 90%;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
    pointer-events: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 20%;
}

.normalText {
    display: none;
}

.card:hover {
    box-shadow: 0 2px 6px 2px rgb(40 44 63 / 7%);
}

.cardBody {
    padding: 1rem;
}

.cardImage {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.cardTitleRow {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .4rem;
    align-items: flex-start;
    margin-bottom: 1rem;
    height: 6rem;
}

.productName {
    font-size: 1.4rem;
    margin-bottom: .4rem;
    font-weight: 600;
    color: var(--dark)
}

.productCategory {
    color: var(--text-secondary);
    font-size: 1rem;
    line-height: 1.4;
}

.iconWrap {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 100%;
    transition: all 100ms ease-in;
}

.cardIcon {
    height: 1.4rem;
    cursor: pointer;
    vertical-align: bottom;
}

.cardIcon-sm {
    height: 1rem;
    margin-left: .6rem;
    cursor: pointer;
    vertical-align: text-top;
}

.iconWrap:hover {
    transform: scale(1.1);
}

.productPrice {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--secondary);
    display: inline-block;
}

.actualPrice {
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: .6rem;
    color: var(--text-secondary);
    display: inline-block;
    text-decoration: line-through;
}

.offer {
    font-size: 1rem;
    color: var(--primary);
    display: inline-block;
    margin-left: .6rem;
}

.cardFooter {
    border-top: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1 {
    flex: 1 1 7rem;
}

.productRating {
    display: inline-block;
    color: var(--text-secondary);
    padding: .2rem .8rem .2rem .8rem;
    border-radius: .2rem;
    font-size: 1rem;
    border: 1px solid var(--border-light);
    margin: .6rem 0 1rem 0;
    display: block;
    width: fit-content;
}

.productRatingGreen {
    background-color: var(--green);
}

.productRatingYellow {
    fill: var(--yellow);
    background-color: var(--yellow);
}

.productIcon {
    margin-right: .3rem;
    font-size: .8rem;
}


.outOfStock {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.outOfStockText {
    font-size: .75rem;
    text-align: center;
    background-color: var(--dark);
    border-radius: 100%;
    padding: .8rem .5rem;
    color: var(--white);
    height: 3.2rem;
    width: 3.2rem;
}

.loaderRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    left: 4rem;
    width: calc(100% - 4rem);
    position: absolute;
    top: 5.1rem;
}