.toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: .2rem;
    width: 20rem;
    height: auto;
    z-index: 999;
    margin: 0 auto;
}

.toastMessage {
    font-weight: 400;
    color: var(--white);
}

.toastIcon {
    width: .8rem;
    cursor: pointer;
}