.toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    border-radius: .2rem;
    width: 24rem;
    height: auto;
    z-index: 999;
    margin: 0 auto;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    padding: 1rem;
}

.toastMessage {
    font-weight: 300;
    line-height: 1.4;
    font-size: 1rem;
    color: var(--white);
}

.toastIcons {
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}