.toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 3rem;
    border-radius: .2rem;
    width: 20rem;
    height: auto;
    z-index: 999;
    margin: 0 auto;
}


.toast-success {
    background-color: var(--green);
    border: 1px solid var(--green);
}


.toast-error {
    background-color: var(--danger);
    border: 1px solid var(--danger);
}

.toastMessage {
    font-weight: 400;
    color: var(--white);
}

.toastIcon {
    width: .8rem;
    cursor: pointer;
}