@import "../../assets/styles/base.css";

.header {
    border-bottom: 1px solid var(--border-light);
    box-shadow: 0 0.1rem 0 rgb(0 0 0 / 2%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBrand {
    display: flex;
    align-items: center;
}

.logo {
    height: 3rem;
}

.logoTitle {
    display: inline-flex;
    font-size: 2rem;
    font-weight: 600;
    margin-left: .4rem;
    text-transform: uppercase;
    color: var(--text-primary);
}

.navMiddle {
    flex: 1;
    margin: 0 2rem;
}

.searchForm {
    margin: 0 auto;
    width: 100%;
}

.searchField {
    display: inline-block;
    font-size: 1rem;
    height: 1.8rem;
    line-height: 1.6;
    width: 100%;
    color: #696e79;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: .4rem .8rem .4rem;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
    border-radius: .2rem;
}

.navRight {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 1rem;
}

.icons {
    font-size: 1.4rem;
    color: #2c292f;
    margin: 0 auto;
    display: block;
}

.bag {
    position: relative;
}

.iconText {
    font-size: 1.1rem;
    color: var(--text-secondary);
    cursor: pointer;
    padding-top: .3rem;
}

.roundedBadge {
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 4px;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 20px;
    z-index: 9999;
    top: -6px;
    font-weight: 900;
}


.badgeActive {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.sectionTitle {
    font-size: 2rem;
    border-bottom: 1px solid var(--primary);
    padding-bottom: .6rem;
    font-weight: 600;
}

.innerSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.6rem;
    padding: 2rem 0
}

.categories {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: relative;
}

.sectionImage {
    height: 512px;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.overlayText {
    position: relative;
    font-size: 1.4rem;
    color: var(--text-primary);
    font-weight: 600;
    margin: 0 0 1rem 0
}

.categoryThree .sectionImage {
    height: 512px;
}

button {
    background: transparent;
    border: none;
}

.actionButtons {
    background-color: var(--secondary);
    padding: .6rem 1.2rem;
    border: 1px solid var(--secondary);
    border-radius: .2rem;
    color: var(--white);
    letter-spacing: .04rem;
    text-align: center;
    text-transform: uppercase;
}