.sidebar {
    position: sticky;
    grid-area: sidebar;
    position: sticky;
    top: 0;
    display: block !important;
    height: calc(100vh - 7rem);
    overflow-x: hidden;
    overflow-y: auto;
    width: 15.75rem;
    padding: 4rem 1rem 0 0;
    border-right: 1px solid var(--border-light);
}

.sidebarSection {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-light);
    padding-bottom: 1.6rem;
    margin-bottom: 2rem;
}

.sidebarTitle {
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--dark);
}

.sidebarLists {
    list-style: circle;
    display: block;
    margin: 1rem 0 0 0;
    height: auto;
    color: var(--text-secondary);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 300;
}

label {
    margin-left: .6rem;
}

.link {
    font-size: .9rem !important;
}