.sidebar {
    flex: 0 0 280px;
    max-width: 280px;
    padding: 0px 10px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    border-right: 1px solid var(--border-light);
    transition: width 300ms;
    padding: 4rem 2rem 0 0;
}

.sidebarSection {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-light);
    padding-bottom: 1.6rem;
    margin-bottom: 2rem;
}

.sidebarTitle {
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--dark);
}

.sidebarLists {
    list-style: circle;
    display: block;
    margin: 1rem 0 0 0;
    height: auto;
    color: var(--text-secondary);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 300;
}

label {
    margin-left: .6rem;
}

.link {
    font-size: .9rem !important;
}

.filterIcons {
    font-size: 1rem;
    vertical-align: baseline;
    color: #333;
}