@import "./util.css";
@import "./component.css";

:root {
    --primary: #ff7e1d;
    --secondary: #0c6ff9;
    --background-light: #f5f2ed;
    --background-medium: #FAF6F4;
    --text-primary: #4b4c4d;
    --text-secondary: #5c5d5d;
    --hover-secondary: #084FFF;
    --border-light: #E8E7E9;
    --dark: #2c292f;
    --white: #ffffff;
    --green: #388e3c;
    --yellow: #ff9f00
}

* {
    margin: 0;
    padding: 0;
    font-family: Apercu Pro;
}

*,
::after,
::before {
    box-sizing: border-box
}

body {
    margin: 0;
    font-size: 16px;
    background-color: var(--background-light-gray);
    font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:active,
button:focus {
    outline: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

iframe {
    border: 0
}

ul,
ol {
    padding: 0;
    margin: 0
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-light);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark);
}

pre {
    margin: 0;
    font-family: inherit !important;
    word-wrap: wrap;
}

.highlighter {
    font-size: inherit !important;
    color: #e83e8c;
    font-weight: 600;
    word-break: break-word;
}

.code {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: .1rem .5rem;
    margin: 0 .1rem;
    color: var(--secondary) !important;
    background-color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: .2rem;
    word-wrap: wrap;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
}

.table tbody tr:not(:last-child) {
    border-bottom: 1px solid #dadfe1;
}

.table thead tr {
    border-bottom: 2px solid #dadfe1;
}

.table-bordered td:not(:last-child),
.table-bordered th:not(:last-child),
.table-inner-bordered td:not(:last-child),
.table-inner-bordered th:not(:last-child) {
    border-right: 1px solid #dadfe1;
}

.table-responsive .table td,
.table-responsive .table th {
    white-space: nowrap;
}

.table td,
.table th {
    padding: 1.2rem 1.5rem;
}

.table td,
.table th {
    text-align: left;
}

.table th {
    font-weight: 700;
}

.table-bordered td:not(:last-child),
.table-bordered th:not(:last-child),
.table-inner-bordered td:not(:last-child),
.table-inner-bordered th:not(:last-child) {
    border-right: 1px solid #dadfe1;
}